<h3>Edit Story</h3>
<div class="row">
    {{#with item}}
    <form action="/stories/{{_id}}" method="post" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    {{#select status}}
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Yoour Story:</h5>
                <textarea name="body" id="body">{{body}}</textarea>
            </div>
        </div>


        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>

    </form>
    {{/with}}
</div>